### Archivos sospechosos  ###
{% for file in suspicious_files.files %}
path: {{ file.path }}
ctime: {{ file.ctime }}
uid: {{ file.uid }}
gid: {{ file.gid }}
mode: {{ file.mode }}

{% endfor %}

### Archivos creados en los últimos 7 días ###
{% for file in recently_created_files.files %}
path: {{ file.path }}
ctime: {{ file.ctime }}
uid: {{ file.uid }}
gid: {{ file.gid }}
mode: {{ file.mode }}

{% endfor %}

### Reglas no aplicadas en la configuración de ssh ###
{% for rule in ssh_configurations.results %}
{% if rule.changed %}
Rule: {{ rule.item.line }}
{% endif %}
{% endfor %}

### Puertos abiertos que deben estar cerrados ###
{% for port in open_ports.results %}
{% if port.changed %}
Port {{ port.item }} open
{% endif %}
{% endfor %}
